/* -----------------------------------------------------
*\ Fonts \*
 ----------------------------------------------------- */
$font-primary: 'Space Mono', sans-serif;

/* -----------------------------------------------------
*\ Font sizes \*
 ----------------------------------------------------- */

/* -----------------------------------------------------
*\ Colors \*
 ----------------------------------------------------- */
/* Default ----------------------------------------- */
$c-white: #ffffff;
$c-black: #000000;

/* Grey ----------------------------------------- */
$c-grey-50: #f3f9fa;
$c-grey-200: #c5e4e7;
$c-grey-300: #9ebbbd;
$c-grey-400: #7f9d9f;
$c-grey-500: #5e7a7d;
$c-grey-550: #547878;
$c-grey-600: #3d6666;

/* Green ----------------------------------------- */
$c-green-200: #9fe8df;
$c-green-400: #26c2ae;
$c-green-750: #0d686d;
$c-green-800: #085c61;
$c-green-900: #00474b;

/* Orange ----------------------------------------- */
$c-orange-400: #e17052;

/* -----------------------------------------------------
*\ Font weight \*
 ----------------------------------------------------- */
$fw-bold: 700;

/* -----------------------------------------------------
*\ Border radius \*
 ----------------------------------------------------- */
$b-radius-0: 0px;
$b-radius-5: 5px;
$b-radius-15: 15px;
$b-radius-25: 25px;

/* -----------------------------------------------------
*\ Breakpoints \*
 ----------------------------------------------------- */
$breakpoint-lg: 960px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* -----------------------------------------------------
*\ Container \*
 ----------------------------------------------------- */
$width-desktop: 1440px;

/* -----------------------------------------------------
*\ Spacing \*
 ----------------------------------------------------- */
$spacing-50: 0.6rem;
$spacing-100: 0.8rem;
$spacing-200: 1.6rem;
$spacing-250: 1.8rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-450: 3.7rem;
$spacing-500: 4rem;
$spacing-600: 4.8rem;
$spacing-1000: 8rem;
$spacing-1200: 9.6rem;
$spacing-1500: 12rem;
$spacing-1600: 12.8rem;

/* -----------------------------------------------------
*\ Transition \*
 ----------------------------------------------------- */
$transition-default: 0.3s;

// =========================================================
// MIXIN: FUNKCE PRO APLIKACI STYLŮ
// =========================================================
@mixin container-calculator {
    width: 100%;
    margin-inline: auto;

    /* Mobile styles */
    max-width: 375px;
    padding: $spacing-400 $spacing-300;

    @container calculator (min-width: 660px) {
        max-width: 608px;
        padding: $spacing-600 $spacing-1000;
    }

    @container calculator (min-width: 960px) {
        max-width: 920px;
        padding: $spacing-400;
    }
}
